body {
  background-color: black;
}
input {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
  background-color: #343a40;
  color: white;
  
}
.player-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100vh;
} 
.track-player {
  flex-grow: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
  position: relative;
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  
} 
.search-result-list {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.result-item {
  margin-left: 1rem;
}
.artist-title {
  color: white
}
.track-title {
  color: white;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #28a745;
  border: 1px solid #28a745;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  text-decoration: none;
  cursor: pointer;
}
.login-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
} 
